html, body{
    margin:0;
    padding:0;
}

h1, p{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

#main{
    /* background: url("https://pixabay.com/get/54e1dd404c51ab14f6d1867dda35367b1c3cd7e65b567640_1920.jpg") no-repeat; */
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0c7b66af-f9d8-4ba2-b476-85040598dfa3/ddk0o2u-c580f79d-c9b2-4b9c-90c3-dd9f2ebb89f4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMGM3YjY2YWYtZjlkOC00YmEyLWI0NzYtODUwNDA1OThkZmEzXC9kZGswbzJ1LWM1ODBmNzlkLWM5YjItNGI5Yy05MGMzLWRkOWYyZWJiODlmNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ZF6-9tUAVipMnEZMpEk9zX7jv_cH_4NFPq3UAMDH_DY") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Merienda One', cursive;
}

#contents{
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 46%;
    transform: translateY(-50%);
}

#contents h1{
    margin-top: 20px;
    font-size: 100px;
}

#contents p{
    font-size: 25px;
    margin-bottom: 260px;
}

#contents a{
    display: inline-block;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

#contents a:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

@media(max-width:769px){
    #contents h1{
        margin-top: 90px;
        font-size: 70px;
    }

    #contents p{
        font-size: 20px;
        margin-bottom: 130px;
    }
}

@media(max-height:100px){
    #contents h1{
        margin-top: 100px;
        font-size: 70px;
    }

    #contents p{
        font-size: 20px;
        margin-bottom: 170px;
    }
}




#profile{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 43px;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0c7b66af-f9d8-4ba2-b476-85040598dfa3/ddk0o2u-c580f79d-c9b2-4b9c-90c3-dd9f2ebb89f4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMGM3YjY2YWYtZjlkOC00YmEyLWI0NzYtODUwNDA1OThkZmEzXC9kZGswbzJ1LWM1ODBmNzlkLWM5YjItNGI5Yy05MGMzLWRkOWYyZWJiODlmNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ZF6-9tUAVipMnEZMpEk9zX7jv_cH_4NFPq3UAMDH_DY") no-repeat;
    font-family: 'Merienda One', cursive;
    
}

#profile h2{
    margin-top: 30px;
    font-size: 30px;
}

#profile h1{
    font-size: 40px;
}

#left{
    float: left;
    width: 55%;
    padding-left: 7%;

}

#right{
    float: left;
    padding-top: 5%;
    padding-left: 10%;
    
}

#right h1{
    font-size: 60px;
    font-family: 'Lobster', cursive;
    padding-bottom: 60px;
}


#right h2{
    font-size: 19px;
    font-family: 'Poor Story', cursive;
    padding-bottom: 20px;
}

#right a{
    display: inline-block;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#right a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
} 

.card{

    padding-top: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: 55px;
    justify-content: center;
    float: left;
    border-color: white;
    font-family: 'Poor Story', cursive;
}

.navbar-brand{
    margin-left: 12px;
    font-family: 'Shrikhand', cursive;

}


.nav-link{
    font-family: 'Indie Flower', cursive;
    margin-left: 20px;
    font-size: 18px;

}

.visual{
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 3%;
}

#a{
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}

#dtitle{
    /* padding-bottom: 3%; */
    text-align: center;

}

#dtitle h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;

}


#album{
    padding-top: 5% ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



#button{
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 70%;
    transform: translateY(-50%);
}

#button a{
    display: inline-block;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
    font-family: 'Monoton', cursive;
}


#button a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
