{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'shared/navbar.html' %}
<link
href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,600&family=Heebo:wght@300&family=Inconsolata:wght@500&family=Lobster&family=Merienda+One&family=Permanent+Marker&family=Quicksand:wght@500&display=swap"
rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,600&family=Heebo:wght@300&family=Inconsolata:wght@500&family=Lobster&family=Merienda+One&family=Permanent+Marker&family=Poor+Story&family=Quicksand:wght@500&display=swap"
  rel="stylesheet">


<div id="dtitle">
  <h1>Drama</h1>
</div>

<div id="a"><img src="{%static 'images/i.gif'%}" width=100%></div>



<div class="card" style="width: 18rem;">
  <img src="{%static 'images/deluna.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">호텔 델루나</p>
    <p class="card-text">장만월 (주연)</p>
    <p class="card-text">2019</p>
  </div>
</div>



<div class="card" style="width: 18rem;">
  </br>
  </br>

  <img src="{%static 'images/my.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">나의 아저씨</p>
    <p class="card-text">이지안 (주연)</p>
    <p class="card-text">2018</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  </br>
  </br>

  <img src="{%static 'images/bo.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">달의 연인 - 보보경심 려</p>
    <p class="card-text">해수 (주연)</p>
    <p class="card-text">2016</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  </br>
  </br>

  <img src="{%static 'images/pro.png'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">프로듀사</p>
    <p class="card-text">신디 (주연)</p>
    <p class="card-text">2015</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  </br>
  </br>

  <img src="{%static 'images/pp.png'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">예쁜남자</p>
    <p class="card-text">김보통 (주연)</p>
    <p class="card-text">2013~2014</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{%static 'images/p.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">촤고다 이순신</p>
    <p class="card-text">이순신 (주연)</p>
    <p class="card-text">2013</p>
  </div>

</div>

<div class="card" style="width: 18rem;">
  </br>
  </br>

  <img src="{%static 'images/dreamh.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">드림하이</p>
    <p class="card-text">김필숙 (주연)</p>
    <p class="card-text">2011</p>
  </div>
</div>

{% endblock %}