{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'shared/navbar.html' %}

<head>

    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="{% static 'css/pictures.css'%}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

   
</head>

<body>



    <section class="visual">
        <div><img src="{%static 'images/iu2.jpg'%}" width="100%" ></div>
        <div><img src="{%static 'images/iuiui.jpeg'%}"width="90%"></div>
        <div><img src="{%static 'images/iu5.jpg'%}"width="90%" ></div>
        <div><img src="{%static 'images/iuu.png'%}"width="90%"></div>
    </section>


    <script type="text/javascript">
        $('.visual').slick();
    </script>
</body>
{% endblock %}