{% extends 'base.html' %}
{% block content %}
{% include 'shared/navbar.html' %}

<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

<div class="container">
    <h1>팬레터 쓰기</h1>
    <div class="form">
        <form action="{% url 'posts:create' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <input type="submit" value="글 작성" class="btn btn-outline-primary">
        </form>
    </div>
</div>

{% endblock %}