{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'shared/navbar.html'%}
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">


<div id="detail">
    <div id="detailcontents">
        <h3>제목: {{post.title}}</h3><br>
        <h3>내용: {{post.content}}</h3><br>
        <h3>작성 시각:{{post.created_at}}</h3>
        {% if post.user %}
        <h3>작성자: {{post.user}}</h3><br>
        {% else %}
        <h3>작성자: 알 수 없음</h3><br>
        {% endif %}

   
        <br>
        <br>
        {% if user == post.user %}
        <a href="{% url 'posts:update' post.pk %}" class="btn btn-outline-primary">수정하기</a>
        <a href="{% url 'posts:delete' post.pk %}" class="btn btn-outline-primary">삭제하기</a>
        {% endif %}
    </div>
    

    <div id="pic">
        {% if post.image %}
             <img src="{{ post.image.url }}" alt="사진" width="30%" height="30%">
        {% endif %}
    </div>
</div>

    

{% endblock %}